<div class="note-header">
  <div class="note-drag" cdkDragHandle (mousedown)="onMousedown()" (mouseup)="onMouseup()"></div>
  <button
    class="note-delete"
    type="button"
    (click)="onDelete()">
  </button>
  @if (isEditing()) {
    <button
      class="note-save"
      type="button"
      (click)="onSave()">
    </button>
  } @else {
    <button
      class="note-edit"
      type="button"
      (click)="onEdit()">
    </button>
  }
</div>

<div class="note-body">
  @if (isEditing()) {
    <textarea
      #textarea
      [(ngModel)]="markdownString"
      (ngModelChange)="onTextareaChange()"
      [style.width.px]="markdownRect().width"
      [style.height.px]="markdownRect().height"></textarea>
  } @else {
    <markdown [data]="note().content" #markdown />
  }
</div>