*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

// css reset above ends

// google font import
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  color: #414141;
}

button {
  cursor: pointer;
}

markdown,
textarea {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
}

.notes {
  background-color: #fefefe;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle, #d0d0d0 1px, transparent 1px);
  background-size: 32px 32px;
  overflow: hidden;
}

.notes--panning {
  cursor: grabbing;
}

.notes-header {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0.75rem 1.5rem;
  gap: 1rem;
  top: 2rem;
  left: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229 231 235);
  z-index: 100;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.notes-title {
  font-size: 1rem;
}

.notes-add {
  background-color: rgb(79 70 229);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 0.75em;
  padding: 0.5em 0.75em;
  font-size: 0.75rem;
  font-weight: bold;
  transition: all ease 150ms;

  .icon {
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.25em;
  }
}

.notes-add:hover {
  background-color: rgb(67 56 202);
}

.note {
  margin: 1rem;
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  transition: all ease 350ms, transform ease 0ms, top ease 0ms, left ease 0ms, z-index ease 0ms;
  border: 1px solid transparent;
}

.note-header {
  .note:hover &,
  .note.note--edit & {
    opacity: 1;
  }
}

.note:not(.note--drag).note:hover,
.note--edit {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.note-header {
  position: relative;
  opacity: 0;
  transition: all ease 350ms;
}

.note-drag {
  background-color: rgb(249 250 251 / 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: grab;

  .note--drag & {
    cursor: grabbing;
  }
}

.note-drag {
  pointer-events: none;

  .note:hover & {
    pointer-events: auto;
  }
}

.note-save,
.note-edit,
.note-delete {
  position: relative;
  z-index: 10;
  width: 1.5em;
  height: 2rem;
  transition: all ease 150ms;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &::after {
    content: '';
    border-radius: 100%;
    width: 0.75em;
    height: 0.75em;
    background-color: pink;
    display: block;
  }
}

.note-edit {
  &::after {
    background-color: rgb(39, 201, 63);
  }

  &:hover {
    &::after {
      background-color: rgb(29, 148, 47);
    }
  }
}

.note-save {
  &::after {
    background-color: rgb(255, 189, 46);
  }

  &:hover {
    &::after {
      background-color: rgb(184, 139, 44);
    }
  }
}

.note-delete {
  margin-left: 0.5rem;
  &::after {
    background-color: rgb(255, 95, 86);
  }

  &:hover {
    &::after {
      background-color: rgb(226, 99, 92);
    }
  }
}

textarea {
  outline: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
}

markdown {
  white-space: nowrap;
  > * {
    margin-bottom: 1rem;
  }

  ol {
    list-style: decimal inside none;
  }

  ul {
    list-style: '* ' inside none;
  }

  em {
    font-style: normal;
    position: relative;
    display: inline-block;
    text-decoration: underline;
  }

  del {
    background-color: #fef08a;
    text-decoration: none;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 110%;
      height: 100%;
      background-color: inherit;
      margin-left: -5%;
      z-index: -1;
      border-radius: 0.25em;
    }
  }

  pre[class*='language-'] {
    font-size: 1rem;
    border-radius: 0.5em;
  }
}

.note-body {
  padding: 1.5rem;
  position: relative;
}

.note:hover {
  z-index: 2000 !important;
}

.note--edit {
  z-index: 1000 !important;
}

.note--drag.note--drag {
  z-index: 3000 !important;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translatey(-10px);
  }
}

.enter {
  animation: slideIn 200ms ease-out;
}

.leave {
  animation: slideOut 200ms ease-out;
}
