*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

// css reset above ends

// google font import
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Material+Symbols+Outlined&family=Shadows+Into+Light+Two&display=swap');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

button {
  cursor: pointer;
}

markdown,
textarea {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  display: block;
}

.notes {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(229, 231, 235) 1.6px, transparent 1.6px),
    linear-gradient(90deg, rgb(229, 231, 235) 1.6px, transparent 1.6px);
  background-size: 64px 64px;
  overflow: hidden;
}

.notes--panning {
  cursor: grabbing;
}

.notes-header {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0.75rem 1.5rem;
  gap: 1rem;
  top: 2rem;
  left: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229 231 235);
  z-index: 100;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.notes-title {
  font-size: 1rem;
}

.notes-add {
  background-color: rgb(79 70 229);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 0.75em;
  padding: 0.5em 0.75em;
  font-size: 0.75rem;
  font-weight: bold;
  transition: all ease 150ms;

  .icon {
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.25em;
  }
}

.notes-add:hover {
  background-color: rgb(67 56 202);
}

.note {
  margin: 1rem;
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  transition: all ease 350ms, transform ease 0ms, top ease 0ms, left ease 0ms, z-index ease 0ms;
  border: 1px solid transparent;
}

.note-header {
  .note:hover &,
  .note.note--edit & {
    opacity: 1;
  }
}

.note:hover,
.note--edit {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.note-header {
  position: relative;
  opacity: 0;
  transition: all ease 350ms;
}

.note-drag {
  background-color: rgb(249 250 251 / 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: grab;

  .note--drag & {
    cursor: grabbing;
  }
}

.note-save,
.note-edit,
.note-delete {
  position: relative;
  z-index: 10;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  padding: 0;
  margin: 0.75em;
  margin-right: -0.25em;
  transition: all ease 150ms;
}

.note-edit {
  background-color: rgb(39, 201, 63);

  &:hover {
    background-color: rgb(29, 148, 47);
  }
}

.note-save {
  background-color: rgb(255, 189, 46);
  &:hover {
    background-color: rgb(184, 139, 44);
  }
}

.note-delete {
  background-color: rgb(255, 95, 86);
  &:hover {
    background-color: rgb(226, 99, 92);
  }
}

.note-body {
  padding: 1.5rem;
  position: relative;
}

.note:hover {
  z-index: 2000;
}

.note--edit {
  z-index: 1000;
}

// NOTE: dodgy class to overule .note:hover specificity
.note--drag.note--drag {
  z-index: 3000;
}
